* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--primary-color);
    min-width: 98px;
    padding: 18px 12px;
    color: #fff;
    border-radius: 12px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line, 2);
    overflow: hidden;
    word-break: break-word;
}

/* Header */
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
}

.navbar .contact {
    margin-left: auto;
}

.navbar ul {
    margin-left: 64px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 6px 14px;
    color: #4f5361;
}

.navbar .contact a {
    display: inline-block;
    text-align: center;
}

.contact__sign-in {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.contact__sign-up {
    margin-left: 18px;
    padding: 13px 12px;
    border-radius: 8px;
}

/* Hero */

.hero {
    margin-top: 130px;
    width: 51%;
}

.hero__sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero__title {
    font-size: 6.3rem;
    font-weight: 700;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}

.hero__desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 30px;
    color: #687690;
}

.hero .hero__cth {
    margin-top: 40px;
    min-width: 170px;
    border-radius: 12px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* CLient */
.client {
    margin-top: 79px;
    padding-top: 43px;
}

.client .image a {
    display: flex;
    align-items: center;
    padding: 0 41px;
    height: 91px;
    border-radius: 12px;
}

.client .image a:hover {
    box-shadow: 0px 10px 20px 0px hsla(0, 0%, 0%, 0.1);
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row-desc {
    margin-top: 23px;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    color: #7d8589;
}

.client .image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/* Guides */

.guides {
    padding-top: 93px;
    padding-bottom: 79px;
    margin-top: 40px;
}

.introduces-heading {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
    text-align: center;
    position: relative;
}

.introduces-heading::before {
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000339;
    border-radius: 12px;
}

.introduces-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    text-align: center;
    color: #5a6473;
    width: 460px;
    margin: 20px auto 0;
}

.seller {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.seller__item {
    margin: 0 70px;
    text-align: center;
}

.seller__item p {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.seller__item a {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #0689ff;
    margin-top: 10px;
    display: inline-block;
}

.seller__arrow {
    margin-left: 8px;
}

.guides__cta {
    text-align: center;
    margin-top: 48px;
}

.guides__cta .btn {
    text-align: center;
    min-width: 170px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 12px;
}

/* Feature */
.feature {
    margin-top: 40px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.feature__header .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
}

.feature__header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.feature__header .row p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #5a6473;
}

.feature__header .row a {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #0689ff;
}

.feature__header .row .arrow {
    margin-left: 8px;
}

.feature .list {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.feature .list .list__item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
}

.feature .list .list__item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.feature .list .list__item .list-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
}

.feature .list .list__item .list-desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #a3a6ab;
    margin-top: 11px;
}

.feature .list .list__item .list-infor {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.feature .list__item-body {
    padding: 17px 20px 22px;
}

.list-infor .label {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-left: 8px;
}

.list-infor .icon {
    margin-left: 23px;
}

.list-infor .icon:first-child {
    margin-left: 0;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats-about,
.card-photo {
    width: 50%;
}

.stats .card-photo {
    width: 50%;
    position: relative;
}

.stats .image-stats {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 12px;
}

.stats .statistics {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats .trend {
    width: 239px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
}

.stats .icon-trend {
    margin-left: auto;
}

.stats .stats-about {
    padding: 65px 0 0 165px;
}

.stats .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    width: 309px;
    color: #5A6473;
}

.stats .trend-desc {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #A7A7A7;
    margin-top: 8px;
}

.stats .seperate {
    margin-top: 25px;
    height: 1.2px;
    background-color: #E9E9E9;
}

.stats .sub-title {
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
    color: #000339;
    width: 269px;
    position: relative;
}

.stats .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: -10px;
}

.stats .list-users {
    display: flex;
    flex-wrap: wrap;
    gap: 17px 14px;
    margin-top: 26px;
}

.stats .list-users .avatar-group {
    display: flex;
}

.stats .list-users .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .list-users .avatar:first-child {
    margin-left: 0;
}

.stats .row-countdown {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 16px;
}

.stats .countdown .number {
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .countdown .countdown-desc {
    font-size: 1.8rem;
    font-weight: 500;
    color: #7B8087;
    margin-top: 24px;
}

/* Subscription */

.subscription {
    margin-top: 51px;
    padding: 39px 0 55px;
}

.subscription .newsletter {
    background: #063183;
    height: 370px;
    display: flex;
    align-items: center;
    position: relative;
}

.subscription .info {
    padding-left: 80px;
}

.subscription .newsletter .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
}

.subscription .newsletter .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #FFFFFF;
    opacity: 0.75;
    margin-top: 15px;
}

.subscription .newsletter .btn {
    min-width: 151px;
    background-color: #FFF;
    color: #002366;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
}

.subscription .newsletter-img {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .info {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .info {
    margin-bottom: 42px;
}

.footer .item,
.footer .desc {
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 400;
    color: hsla(240, 2%, 49%, 1);
}

.footer .item a {
    white-space: nowrap;
    color: hsla(240, 2%, 49%, 1);
}

.footer .socials {
    display: flex;
    margin-top: 40px;
    gap: 16px;
}

.footer .social-item {
    width: 28px;
    height: 28px;
    background-color: hsla(0, 0%, 98%, 1);
}

.footer .row-bottom {
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}

.footer .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    color: hsla(0, 0%, 76%, 1);
}